{% extends "layout.twig" %}
{% block homemenu %} class="menu-selected" {% endblock %}
{% block homesidebar %} class="sidebar-selected" {% endblock %}

{% block title %} Accueil {% endblock %}

{% block content %} 
    <div class="home-title">
        <h2 class="wave">Hello<span class="emoji">👋</span> !</h2>
        <h1>I am <span class="name"> Raphaël Stacino</span>,<br/>Web Developer.</h1>
    </div>
        <div class="bg">
        <img class ="bg1" src="img/bg/bg1.png" alt="plants background" height="500" width="500">
        <img class ="bg2" src="img/bg/bg2.png" alt="plants background" height="250" width="250">
    </div>
 {% endblock %}

{% block scripts%} 
{% endblock %}