.menu-selected {
	background-color: $main-bg;
	border-top: 2px solid $main-color !important;
}
.menu {
	overflow-x: auto;
	z-index: 10;
	background-color: $second-bg;
	border-top: 2px solid $border-color;
	position: fixed;
	width: calc(100vw - 40px);
	height: 40px;
	border-top: 2px solid $second-bg;
	display: flex;
	flex-direction: row;
	a {
		border-right: 2px solid $main-bg;
		padding: 10px;
		display: flex;
		align-items: center;
		text-decoration: none;
		color: white;
		@include media-max(350px) {
			padding: 5px;
		}
	}
}
