.container-project {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
    @include media-max(550px) {
        grid-template-columns: repeat(auto-fill, minmax(3000px, 1fr));
    }
    .grid-item {
        width: 500px;
        @include media-max(550px) {
            width: 300px;
        } 
        img {
            object-fit: scale-down;
            @include media-max(550px) {
                width: 300px;
            }
        }
    }
}
.link {
    text-decoration: none;
    color : $main-color;
    font-family: "Roboto", sans-serif;
}