.projet-title {
	margin-top: 0px;
	border-bottom: solid 5px lightgray;
	width: fit-content;
}
.project-wrapper {
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, 530px);
	gap: 15px;
	justify-content: space-around;
	@include media-max(640px) {
		grid-template-columns: repeat(auto-fill, 325px);
	}
	@include media-max(380px) {
		grid-template-columns: repeat(auto-fill, 255px);
	}
	.project-item {
		position: relative;
		width: 500px;
		height: 312px;
		border-radius: 15px;
		padding: 15px;
		display: flex;
		align-items: flex-end;
		@include media-max(640px) {
			width: 300px;
			height: 187.5px;
		}
		@include media-max(380px) {
			width: 250px;
			height: 156.25px;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
			.project-item-info {
				opacity: 1;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 10px;
			background: rgba(black, 0.9);
			z-index: 2;
			opacity: 0;
			transition: 0.5s;
		}
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			border-radius: 15px;
		}
		.project-item-info {
			position: relative;
			z-index: 3;
			color: white;
			opacity: 0;
			transition: 0.5s;
			form {
				margin-left: auto;
				input {
					cursor: pointer;
					background-color: $main-color;
					color: white;
					padding: 5px;
					border: 1px solid $main-color;
					border-radius: 12px;
				}
			}
		}
	}
}
