header {
	overflow-y: hidden;
	z-index: 10;
	display: flex;
	position: fixed;
	width: 100%;
	height: 19px;
	flex-direction: row;
	align-items: center;
	background-color: $second-bg;
	border-bottom: 1px solid $border-color;
	padding: 5px;
	p {
		@include padding(8px);
		font-size: 1rem;
		&:hover {
			cursor: pointer;
		}
		@include media-max(800px) {
			padding-left: 0;
		}
	}
	img {
		@include padding(8px);
		&:hover {
			cursor: pointer;
		}
	}
}
.topbar-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 33%;
	@include media-max(780px) {
		display: none;
	}
}
.topbar-title {
	width: 33%;
	display: flex;
	justify-content: center;
	@include media-max(780px) {
		width: 100%;
	}
}
.topbar-side-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 33%;
	i {
		width: 15px;
	}
	@include media-max(768px) {
		display: none;
	}
}
