.red {
	color: #f92672;
}
.yellow {
	color: #e6db66;
	text-decoration: none;
}
.blue {
	font-style: italic;
	color: #66d9ce;
}
.purple {
	color: #ae81ff;
}
.green {
	color: #a6e22e;
}
.orange {
	color: #fd9725;
}
.dot {
	opacity: 0.3;
}
#typewriter {
	font-size: 1.3em;
	&:after {
		content: "|";
		animation: blink 500ms linear infinite alternate;
	}
	@include media-max(320px) {
		font-size: 1.1em;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
