// Variables

$border-color: #191d20;
$main-bg: #282c35;
$second-bg: #21242b;
$main-color: #b83b3b;

//mixins

@mixin padding($value) {
	padding-left: $value;
	padding-right: $value;
}
@mixin posterWidth($number, $img-width) {
	width: calc(#{$number} * (#{$img-width} + 5px));
}
@mixin flexAlignCenter($direction) {
	// flex without justify for posters
	display: flex;
	flex-direction: $direction;
	align-items: center;
}
@mixin flexCenter($direction) {
	@include flexAlignCenter($direction);
	justify-content: center;
}

@mixin media-max($min-width) {
	@media screen and (max-width: $min-width) {
		& {
			@content;
		}
	}
}
//import

@import "./topbar";
@import "./sidebar";
@import "./footer";
@import "./explorer";
@import "./menu";
@import "./home";
@import "./project";
@import "./contact";
@import "./about";
@import "./typewriter";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

//General rules
html {
	height: 100%;
	width: 100%;
}
body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: $main-bg;
	color: #8fa1ab;
	font-family: "Source Sans Pro", sans-serif;
}
section {
	margin-top: 30px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	display: flex;
	flex-direction: row;
}
h1 {
	margin: 0;
}
.main {
	margin-left: 240px;
	width: calc(100vw - 50px);
	@include media-max(820px) {
		margin-left: 40px;
	}
}
.content {
	font-family: "Lato", sans-serif;
	color: white;
	margin: 15px;
	margin-top: 55px;
}
.link {
	text-decoration: none;
	color: $main-color;
}
.bg {
	img {
		pointer-events: none;
		position: absolute;
		z-index: 0;
		opacity: 0.1;
	}
	.bg1 {
		top: 50px;
		right: 20px;
		@include media-max(550px) {
			width: 250px;
			height: 250px;
		}
	}
	.bg2 {
		bottom: 100px;
		@include media-max(550px) {
			width: 125px;
			height: 125px;
		}
	}
}
