header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f2428;
  border-bottom: 1px solid #191d20;
  padding: 5px;
}

header p {
  padding-left: 8px;
  padding-right: 8px;
  margin: 3px;
  font-size: 1rem;
}

header p:hover {
  cursor: pointer;
}

header img {
  padding-left: 8px;
  padding-right: 8px;
}

header img:hover {
  cursor: pointer;
}

.topbar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

@media screen and (max-width: 768px) {
  .topbar-items {
    display: none;
  }
}

.topbar-title {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .topbar-title {
    width: 100%;
  }
}

.topbar-side-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 33%;
}

.topbar-side-btn i {
  width: 15px;
}

@media screen and (max-width: 768px) {
  .topbar-side-btn {
    display: none;
  }
}

.sidebar {
  background-color: #24292e;
  border-right: solid 1px #191d20;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }
}

.sidebar-selected {
  color: white !important;
  border-left: 2px solid #b83b3b;
}

.sidebar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar-items a {
  padding: 10px;
  text-decoration: none;
  color: #586069;
}

.sidebar-items a:hover {
  cursor: pointer;
  background-color: #586069;
  color: white;
}

.explorer {
  background-color: #1f2428;
  border-left: #191d20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
  padding-left: 15px;
}

@media screen and (max-width: 768px) {
  .explorer {
    display: none;
  }
}

.portfolioEl {
  cursor: pointer;
}

.portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-items a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

.portfolio-items a:hover {
  background-color: #6a737d;
}

.portfolio-icon {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu {
  background-color: #1f2428;
  max-width: 100%;
  border-top: 2px solid #1f2428;
}

.menu-selected {
  background-color: #24292e;
  border-top: 2px solid #b83b3b !important;
}

.menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 500px) {
  .menu-items a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
  }
}

.menu-items a {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 350px) {
  .menu-items a {
    padding: 5px;
  }
}

.menu-items a img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .menu-items a img {
    width: 20px;
  }
}

.home-title .wave {
  font-size: 2em;
  font-weight: 700;
}

.home-title h1 {
  font-size: 1.7em;
}

.home-title h1 .name {
  color: #b83b3b;
}

.home-title #threejs {
  position: absolute;
  right: 0;
}

.cv,
.love {
  margin-top: 25px;
  font-size: 1.2em;
}

.cv .cv-title,
.love .cv-title {
  margin-top: 0px;
  border-bottom: solid 5px lightgray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cv .cv-items,
.love .cv-items {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cv .cv-items p,
.love .cv-items p {
  margin: 0;
}

.cv .cv-items .date,
.love .cv-items .date {
  margin-right: 20px;
  font-weight: 700;
}

.love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.love p {
  margin: 0;
}

.home-bg img {
  pointer-events: none;
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}

.home-bg .bg1 {
  top: 50px;
  right: 20px;
}

@media screen and (max-width: 550px) {
  .home-bg .bg1 {
    width: 250px;
    height: 250px;
  }
}

.home-bg .bg2 {
  bottom: 100px;
}

@media screen and (max-width: 550px) {
  .home-bg .bg2 {
    width: 125px;
    height: 125px;
  }
}

.emoji {
  font-weight: 300;
}

.raphael {
  margin: 20px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.project-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (530px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 530px);
  gap: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 640px) {
  .project-wrapper {
    -ms-grid-columns: (325px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 325px);
  }
}

.project-wrapper .project-item {
  position: relative;
  width: 500px;
  height: 312px;
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 640px) {
  .project-wrapper .project-item {
    width: 300px;
    height: 187.5px;
  }
}

.project-wrapper .project-item:hover::before {
  opacity: 1;
}

.project-wrapper .project-item:hover .project-item-info {
  opacity: 1;
}

.project-wrapper .project-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.project-wrapper .project-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.project-wrapper .project-item .project-item-info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
}

.project-wrapper .project-item .project-item-info form {
  margin-left: auto;
}

.project-wrapper .project-item .project-item-info form input {
  cursor: pointer;
  background-color: #b83b3b;
  color: white;
  padding: 5px;
  border: 1px solid #b83b3b;
  border-radius: 12px;
}

.contact {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  font-size: 1.2em;
}

.contact .contact-title {
  margin-top: 0px;
  border-bottom: solid 5px lightgray;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form {
  height: 500px;
  width: 380px;
}

@media screen and (max-width: 400px) {
  .form {
    width: 290px;
  }
}

.form .ic1 {
  margin-top: 40px;
}

.form .ic2 {
  margin-top: 30px;
}

.form .ic3 {
  height: auto;
}

.form .input-container {
  position: relative;
  width: 100%;
}

.form .input-container .input {
  height: 50px;
  background-color: #1f2428;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.form .input-container .input:focus ~ .cut,
.form .input-container .input:not(:placeholder-shown) ~ .cut {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.form .input-container .input:focus ~ .placeholder,
.form .input-container .input:not(:placeholder-shown) ~ .placeholder {
  -webkit-transform: translateY(-30px) translateX(10px) scale(0.75);
          transform: translateY(-30px) translateX(10px) scale(0.75);
}

.form .input-container .input:not(:placeholder-shown) ~ .placeholder {
  color: #b83b3b;
}

.form .input-container .input:focus ~ .placeholder {
  color: #b83b3b;
}

.form .input-container textarea {
  height: auto !important;
}

.form .input-container .cut {
  background-color: #24292e;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  width: 76px;
}

.form .input-container .cut-long {
  width: 90px;
}

.form .input-container .placeholder {
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: color 200ms, -webkit-transform 200ms;
  transition: color 200ms, -webkit-transform 200ms;
  transition: transform 200ms, color 200ms;
  transition: transform 200ms, color 200ms, -webkit-transform 200ms;
  top: 20px;
}

.form .submit {
  background-color: #b83b3b;
  border-radius: 12px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.red {
  color: #f92672;
}

.yellow {
  color: #e6db66;
  text-decoration: none;
}

.blue {
  font-style: italic;
  color: #66d9ce;
}

.purple {
  color: #ae81ff;
}

.green {
  color: #a6e22e;
}

.orange {
  color: #fd9725;
}

.dot {
  opacity: 0.3;
}

#typewriter {
  font-size: 1.3em;
}

#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@media screen and (max-width: 320px) {
  #typewriter {
    font-size: 1.1em;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: #24292e;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

section {
  overflow-x: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1 {
  margin: 0;
}

.main {
  width: 100%;
}

.content {
  font-family: sans-serif;
  margin: 15px;
}

.link {
  text-decoration: none;
  color: #b83b3b;
}
/*# sourceMappingURL=style.css.map */