// Variables

$border-color: #191d20;
$main-bg: #24292e;
$second-bg: #1f2428;
$main-color: #b83b3b;

//mixins

@mixin padding($value) {
	padding-left: $value;
	padding-right: $value;
}
@mixin posterWidth($number, $img-width) {
	width: calc(#{$number} * (#{$img-width} + 5px));
}
@mixin flexAlignCenter($direction) {
	// flex without justify for posters
	display: flex;
	flex-direction: $direction;
	align-items: center;
}
@mixin flexCenter($direction) {
	@include flexAlignCenter($direction);
	justify-content: center;
}

@mixin media-max($min-width) {
	@media screen and (max-width: $min-width) {
		& {
			@content;
		}
	}
}
//import

@import "./topbar";
@import "./sidebar";
@import "./footer";
@import "./explorer";
@import "./menu";
@import "./home";
@import "./project";
@import "./contact";
@import "./typewriter";

//General rules
html {
	height: 100%;
	width: 100%;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: $main-bg;
	color: white;
	font-family: "Source Sans Pro", sans-serif;
}
section {
	overflow-x: hidden;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
	display: flex;
	flex-direction: row;
}
h1 {
	margin: 0;
}
.main {
	width: 100%;
}
.content {
	font-family: sans-serif;
	margin: 15px;
}
.link {
	text-decoration: none;
	color: $main-color;
}
