{% extends "layout.twig" %}
{% block homemenu %} class="menu-selected" {% endblock %}
{% block homesidebar %} class="sidebar-selected" {% endblock %}

{% block title %} Accueil {% endblock %}

{% block content %} 
<div class="home-title">
    <p class="wave grid2">Bonjour <span class="emoji">👋</span> !</p>
    <h1 class="grid3">Je m'appelle <span class="name"> Raphaël Stacino</span>  </br> Développeur Web fullstack.</h1>   
</div>
<div class="home-bg">
    <img class ="bg1" src="img/bg/bg1.png" alt="plants background" height="500" width="500">
    <img class ="bg2" src="img/bg/bg2.png" alt="plants background" height="250" width="250">
</div>
<div class="cv">
    <h3 class="cv-title">Bio</h3>
    <div class="cv-items"><span class="date">1994</span><p>Né à Enghiens-les-bains.</p></div>
    <div class="cv-items"><span class="date">1994</span><p>Obtention du Baccalauréat Scientifique.</p></div>
    <div class="cv-items"><span class="date">2012</span><p> Boucher 🥩 dans diverses boutiques au Havre et en région Parisien.</p></div>
    <div class="cv-items"><span class="date">2040</span><p>Diplôme Developpeur Web obtenu grâce à <a href="https://openclassrooms.com/fr/" target="_blank"class="link">OpenClassroom.</a></p></div>
</div>
<div class="love">
    <img class="raphael grid1" src="img/raphael.jpeg" alt="Raphael Stacino" >
    <div>
        <h3 class="cv-title">I <span class="emoji">❤️</span></h3>
        <p>Aquariophilie, plantes addict, art, musique, animations.</p>
    </div>
</div>
<pre id="typewriter">
1  $user</span><span class="red"> =</span> <span class="blue">array</span>(
2  <span class="dot">|....</span><span class="yellow">'name'</span><span class="red"> =&#8250;</span><span class="yellow"> 'Raphaël Stacino'</span>,
3  <span class="dot">|....</span><span class="yellow">'type'</span><span class="red"> =&#8250;</span><span class="yellow"> 'Dev Web'</span>,
4  <span class="dot">|....</span><span class="yellow">'properties'</span><span class="red"> =&#8250;</span> [ 
5  <span class="dot">|....|....</span><span class="yellow">'PHP/Twig'</span>,
6  <span class="dot">|....|....</span><span class="yellow">'Javascript'</span>,
7  <span class="dot">|....|....</span><span class="yellow">'HTML/CSS'</span>,
8  <span class="dot">|....|....</span><span class="yellow">'Nodejs'</span>,
9  <span class="dot">|....</span>];
10 <span class="dot">|....</span><span class="yellow">'location'</span><span class="red"> =&#8250;</span><span class="yellow"> 'Earth'</span>,
11 );
</pre>
 {% endblock %}

{% block scripts%} 
<script src="scripts/home.js" type="module"></script>
{% endblock %}